@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.head-links {
    background-color: #fcf4f4;
}

.head-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.head-links ul li {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}