@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.banner-box {
    height: 95vh;
    padding: 0 7%;
    background-color: #fcf4f4;
    padding-bottom: 50px;
}

.banner-content h2 {
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
}

.banner-content {
    height: 100%;
    background-image: url('../../assets/images/banner.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}